<html>
  <head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main_content">
      {{>header}}
      <p>The Mentioned Web page Data is collected from OpenWeatherMap API For getting Geo-location</p>
      <p>The Weather Reported is collected from the tomorrow.io API</p>
      <img class="my_image" src="img/me.png" alt="Description of the image" />
    </div>
    {{>footer}}
  </body>
</html>