<html>
  <head>
    <title>Help Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main_content">
      {{>header}}
      <p>{{helptext}}</p>
      <p>This is Web Page showing only data from the OpenWeatherMap API's  and tomorrow.io API's</p>
      <p>The issue may caused Due to any Api down or Api request failed or The address is not founded</p>
    </div>
    {{>footer}}
  </body>
</html>